* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, sans-serif;  
}

header {
  background-color: #211E25;
}

#nav-list {
  display: flex;
}

#nav-list li {
  list-style: none;
}